@import './base.css';

#app {
  padding: 2rem;
  font-weight: normal;
}

.block {
  background-color: var(--block-color-background);
  padding: var(--block-padding);
  border-radius: var(--block-border-radius);
}

